@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

$backgroundcolor: #e6e7e9;

$backgroundcolor: #e6e7e9;
$fontcolor: #515151;

body {
  background-color: $backgroundcolor;
}

#menu {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 115px;
  right: 50px;
  // font-size: 20px;
  // font-weight: 100;
  li {
    padding: 20px 0;
    text-align: center;
    a {
      color: black;
    }
  }
}

@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}

#next_btn {
  width: 40px;
  height: 40px;
  font-size: 60px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: up-down 1.4s infinite ease-in-out alternate;

  img {
    width: 100%;
    height: 100%;
  }
}

#fullpage {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  background-color: $backgroundcolor;

  .section {
    &#intro {
      font-family: "Roboto", sans-serif;
      .slide {
        .container {
          display: flex;
          justify-content: space-between;
          .left_area {
            .intro_title {
              margin-bottom: 50px;
              font-weight: 500;
              p {
                font-size: 60px;
              }
            }

            .intro_subtitle {
              p {
                font-size: 13px;
              }
            }
          }

          .right_area {
            .intro_name {
              p {
                font-weight: 100;
                font-size: 50px;
              }

              span {
                font-size: 80px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    &#profile {
      .slide {
        .container {
          display: flex;
          align-items: center;
          .left_area {
            width: 800px;

            .profile_title {
              margin-bottom: 50px;
              h2 {
                padding-left: 40px;
                font-size: 80px;
              }
            }

            .profiletext_wrap {
              padding-left: 40px;
              ul {
                margin: 50px 0;
                display: flex;
                flex-wrap: wrap;

                li {
                  color: $fontcolor;
                  display: flex;
                  align-items: center;
                  width: 252.666667px;

                  &:nth-child(4) {
                    margin: 70px 0;
                  }

                  .profile_icon {
                    width: 50px;
                    height: 50px;
                    margin-right: 27px;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  //profile_icon

                  .profile_txt {
                    color: $fontcolor;
                    span {
                      font-size: 20px;
                      font-weight: bold;
                    }

                    p {
                      margin-top: 10px;
                      font-size: 14px;
                    }
                  }

                  //profile_txt
                }
              }
            }

            //profiletext_wrap

            .profile_license {
              margin-left: 40px;
              display: flex;
              align-items: center;

              .license_icon {
                display: flex;
                align-items: center;
                margin-right: 20px;
                height: 50px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .license_text {
                p {
                }
              }
            }
          }
          //left_area

          .right_area {
            width: 480px;

            .profileimg_wrap {
              // position: relative;
              .profile_background {
                width: 355px;
                position: absolute;
                // top: 320px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .profile_img {
                // position: absolute;
                // top: 120px;
                width: 300px;
                height: 300px;
                background-color: #ccc;
              }
            }
          }
          //right_area
        }
      }

      //slide
    }

    &#web {
      .container {
        width: 1280px;
        height: 720px;
        position: relative;
        .web_maintitle {
          position: absolute;
          right: 200px;
          h2 {
            font-family: "Nanum Myeongjo", serif;
            font-size: 99px;
            font-weight: 100;
          }
        }
        .web_subtitle {
          font-family: "Roboto", sans-serif;
          position: absolute;
          top: 44px;
          right: 90px;
        }

        .swiper {
          width: 100%;
          padding-top: 277px;
          padding-bottom: 198px;

          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
            margin-right: 10px;

            img {
              display: block;
              width: 100%;
            }

            .web_sitename {
              font-family: "Roboto", sans-serif;
              font-weight: 100;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 2px solid #dbdbdb;
              margin-bottom: 10px;
              p {
                font-size: 30px;
                color: #000;
              }
              a {
                width: 25px;
                height: 25px;
                background-color: white;
                padding: 10px;
                border-radius: 50%;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .web_link {
              margin-top: 20px;
              display: flex;
              justify-content: space-evenly;
              .code_link {
                a {
                  font-family: "Roboto", sans-serif;
                  font-weight: 100;
                  font-size: 15px;
                  background-color: #d9d9d9;
                  color: white;
                  border-radius: 20px;
                  padding: 10px 25px;
                }
              }
            }
            .github_link {
              a {
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-size: 15px;
                color: #9b9b9b;
                border: 1px solid #9b9b9b;
                border-radius: 20px;
                padding: 10px 25px;
              }
            }
          }
        }
      }
    } //swiper

    &#skill {
      .slide {
        .skill_title {
          text-align: center;
          h2 {
            font-size: 60px;
          }
        }
        .skill_box {
          margin: 30px 0;
          font-family: "Roboto", sans-serif;

          .swiper-wrapper {
            transition-timing-function: linear;
            .swiper-slide {
              .skill_inner {
                width: 250px;
                height: 200px;
                position: relative;
                // background-color: #dde1e7;
                background-color: white;
                box-shadow: -3px -3px 7px #ffffff73,
                  3px 3px 5px rgba(94, 104, 121, 0.288);
                border-radius: 20px 20px;
                .skill_icon {
                  background-color: white;
                  border-radius: 20px;
                  // border-radius: 50%;
                  position: absolute;
                  width: 80px;
                  height: 80px;
                  margin: 10px;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .skill_maintext {
                  position: absolute;
                  top: 30px;
                  right: 55px;
                  font-size: 20px;
                  color: white;
                  p {
                  }
                }

                .skill_subtext {
                  position: absolute;
                  top: 110px;
                  left: 10px;
                  color: white;
                }

                .skill_gauge {
                  position: absolute;
                  right: 20px;
                  bottom: 20px;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              } //skill_inner

              // &:nth-child(odd) {
              //   background-color: black;
              //   border-radius: 20px 20px;
              // }

              // &:nth-child(even) {
              //   background-color: #fff;
              // }
            } //swiper_slide
          }
        }
      }
    }

    &#contact {
      font-family: "Roboto", sans-serif;
      .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .left_area {
          .contact_maintitle {
            h2 {
              font-size: 110px;
            }
            p {
              font-size: 25px;
            }
          }

          .contact_slogan {
            margin: 40px 0;
            p {
              font-weight: 100;
              font-size: 65px;
            }
          }

          .contact_info {
            p {
              font-weight: 100;
              font-size: 25px;
            }
          }

          .contact_github {
            margin-top: 40px;
            width: 150px;
            height: 40px;
            a {
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        } //left_area

        .right_area {
          margin-top: 20px;
          margin-left: 100px;
          .contact_profile {
            width: 300px;
            height: 300px;
            background-color: silver;
            color: white;
            text-align: center;
            line-height: 300px;
            font-size: 40px;
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    } //contact
  }
} //fullpage
